{% extends 'app/base.html' %}
{% load static %}

{% block title %}
    Medical Record
{% endblock %}

{% block content %}
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <a href="{% url 'medicalrecords' %}"><span class="text">Medical Record</span></a><i
                    class="uil uil-angle-right-b"></i>
                <span class="text">Add a Medical Record</span>
            </div>
            <div class="table_box">
                <div class="back">
                    <a href="{% url 'medicalrecords' %}">Back <i class="uil uil-angle-right-b"></i></a>
                </div>
                <div class="table_container">
                    <div class="create_body medical_record">
                        <div class="create">
                            <div class="title medical_record">
                                <span class="form-title">Add a Medical Record</span>
                                <span style="color:#707070;">(The informaton on this form will be treated as confidential and will only be shared with school personnel on a need-to-know basis.)</span>
                            </div>
                            <form method="POST" action="{% url 'medicalrecords_create' %}"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset>
                                    <legend>Patient Information</legend>
                                    {% if user.is_superuser %}
                                        <div class="input-box">
                                            <label for="user_name">Patient</label>

                                            <input list="user-options" id="user_name" name="user_name"
                                                   class="input-field"
                                                   placeholder="Select patient" autocomplete="off" required/>
                                            <datalist id="user-options">
                                                {% for user in users %}
                                                    <option data-userid="{{ user.id }}"
                                                            value="{{ user.first_name }} {{ user.last_name }}">{{ user.student_number }}</option>
                                                {% empty %}
                                                    <option value="No users available"></option>
                                                {% endfor %}
                                            </datalist>
                                            <input type="hidden" id="user" name="user" required/>
                                        </div>
                                    {% else %}
                                        <div class="input-box">
                                            <label for="user_name">Patient</label>
                                            <input type="text" class="input-field" id="user_name" name="user_name"
                                                   value="{{ user.first_name }} {{ user.last_name }}" readonly/>
                                            <input type="hidden" id="user" name="user" value="{{ user.id }}" required/>
                                        </div>
                                    {% endif %}
                                    <div class="input-box">
                                        <label for="date_recorded">Date Recorded</label>
                                        <input type="date" class="input-field" id="date_recorded" name="date_recorded"
                                               value="{{ form.date_recorded.value|date:'Y-m-d' }}" required/>
                                    </div>
                                    <div class="inline-fields patient">
                                        <div class="input-box">
                                            <label for="birth_date">Birth Date</label>
                                            <input type="date" class="input-field" id="birth_date" name="birth_date"
                                                   required/>
                                        </div>
                                        <div class="input-box">
                                            <label for="age">Age</label>
                                            <input type="number" class="input-field" id="age" name="age"
                                                   placeholder="Age" required/>
                                        </div>
                                        <div class="input-box">
                                            <label for="sex">Sex</label>
                                            <select id="sex" name="sex" class="input-field" required>
                                                <option value="" disabled selected>Select sex</option>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <label for="residence">Residing with</label>
                                        <select id="residence" name="residence" class="input-field" required>
                                            <option value="" disabled selected>Select residence</option>
                                            <option value="both">Both Parents</option>
                                            <option value="father">Father</option>
                                            <option value="mother">Mother</option>
                                            <option value="guardian">Guardian</option>
                                        </select>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Parents Information</legend>
                                    <div class="input-box">
                                        <label for="fathers_name">Father's Name</label>
                                        <input type="text" class="input-field" id="fathers_name" name="fathers_name"
                                               placeholder="Father's Name"/>
                                    </div>

                                    <div class="input-box">
                                        <label for="fathers_home_address">Father's Home Address</label>
                                        <textarea class="input-field" id="fathers_home_address"
                                                  name="fathers_home_address"
                                                  placeholder="Father's Home Address"></textarea>
                                    </div>
                                    <div class="input-box">
                                        <label for="fathers_contact_number">Father's Contact Number</label>
                                        <input type="text" class="input-field" id="fathers_contact_number"
                                               name="fathers_contact_number" placeholder="Father's Contact Number"/>
                                    </div>

                                    <div class="input-box">
                                        <label for="mothers_name">Mother's Name</label>
                                        <input type="text" class="input-field" id="mothers_name" name="mothers_name"
                                               placeholder="Mother's Name"/>
                                    </div>
                                    <div class="input-box">
                                        <label for="mothers_home_address">Mother's Home Address</label>
                                        <textarea class="input-field" id="mothers_home_address"
                                                  name="mothers_home_address"
                                                  placeholder="Mother's Home Address"></textarea>
                                    </div>
                                    <div class="input-box">
                                        <label for="mothers_contact_number">Mother's Contact Number</label>
                                        <input type="text" class="input-field" id="mothers_contact_number"
                                               name="mothers_contact_number" placeholder="Mother's Contact Number"/>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Primary Contact's Information (If parents cannot be reached)</legend>
                                    <div class="input-box">
                                        <label for="primarycontact_name">Primary Contact Name</label>
                                        <input type="text" class="input-field" id="primarycontact_name"
                                               name="primarycontact_name" placeholder="Primary Contact Name"/>
                                    </div>
                                    <div class="input-box">
                                        <label for="primarycontact_number">Primary Contact Number</label>
                                        <input type="text" class="input-field" id="primarycontact_number"
                                               name="primarycontact_number" placeholder="Primary Contact Number"/>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Health History</legend>
                                    <div class="input-box">
                                        <label for="medication_allergies">Any medication allergies?</label>
                                        <textarea class="input-field" id="medication_allergies"
                                                  name="medication_allergies"
                                                  placeholder="Medication Allergies"></textarea>
                                    </div>
                                    <div class="input-box">
                                        <label for="food_allergies">Any food allergies?</label>
                                        <textarea class="input-field" id="food_allergies" name="food_allergies"
                                                  placeholder="Food Allergies"></textarea>
                                    </div>
                                    <div class="input-box">
                                        <label for="other_allergies">Other Allergies:</label>
                                        <textarea class="input-field" id="other_allergies" name="other_allergies"
                                                  placeholder="Other Allergies"></textarea>
                                    </div>
                                    <div class="inline-fields">
                                        <label>Any history of severe allergic reactions or anaphylactic
                                            reaction?</label>
                                        <div class="inline-radio">
                                            <div class="radio">
                                                <input type="radio" id="severeallergic_reaction_yes"
                                                       name="severeallergic_reaction" value="yes"/> Yes
                                            </div>
                                            <div class="radio">
                                                <input type="radio" id="severeallergic_reaction_no"
                                                       name="severeallergic_reaction" value="no"/> No
                                            </div>
                                        </div>
                                    </div>

                                    <div class="inline-fields">
                                        <label>Any history of asthma?</label>
                                        <div class="inline-radio">
                                            <div class="radio">
                                                <input type="radio" id="asthma_history_yes"
                                                       name="asthma_history" value="yes"/> Yes
                                            </div>
                                            <div class="radio">
                                                <input type="radio" id="asthma_history_no"
                                                       name="asthma_history" value="no"/> No
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-box">
                                        <div class="inline-fields">
                                            <label>Do you carry an asthma inhaler?</label>
                                            <div class="inline-radio">
                                                <div class="radio">
                                                    <input type="radio" id="carries_inhaler_yes"
                                                           name="carries_inhaler" value="yes"/> Yes
                                                </div>
                                                <div class="radio">
                                                    <input type="radio" id="carries_inhaler_no"
                                                           name="carries_inhaler" value="no"/> No
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-box">
                                        <label for="illness">Any illness?</label>
                                        <select id="illness" name="illness" class="input-field" required>
                                            <option value="none">None</option>
                                            <option value="diabetes">Diabetes</option>
                                            <option value="meningitis">Meningitis</option>
                                            <option value="tuberculosis">Tuberculosis</option>
                                            <option value="pneumonia">Pneumonia</option>
                                            <option value="heart_disorder">Heart Disorder</option>
                                            <option value="urinary_disorder">Urinary Disorder</option>
                                            <option value="epilepsy">Epilepsy</option>
                                            <option value="scoliosis">Scoliosis</option>
                                            <option value="psoriasis">Psoriasis</option>
                                            <option value="vitiligo">Vitiligo</option>
                                            <option value="atopic_dermatitis">Atopic Dermatitis</option>
                                            <option value="impetigo">Impetigo</option>
                                            <option value="other_illness">Other Illness</option>
                                        </select>
                                    </div>
                                    <div class="input-box">
                                        <label for="illness_age">Age when Diagnosed</label>
                                        <input type="number" class="input-field" id="illness_age"
                                               name="illness_age" placeholder="Age when Diagnosed"/>
                                    </div>
                                    <div class="input-box">
                                        <label for="other_illness">Other Illness:</label>
                                        <textarea class="input-field" id="other_illness" name="other_illness"
                                                  placeholder="Other Illness"></textarea>
                                    </div>

                                    <div class="input-box">
                                        <label for="hospitalization_details">Any hospitalization or serious
                                            injuries/illness?</label>
                                        <textarea class="input-field" id="hospitalization_details"
                                                  name="hospitalization_details"
                                                  placeholder="Hospitalization Details"></textarea>
                                    </div>

                                    <div class="input-box">
                                        <div class="inline-fields">
                                            <label>Do you wear eyeglasses or contact lenses?</label>
                                            <div class="inline-radio">
                                                <div class="radio">
                                                    <input type="radio" id="wears_eyeglasses_or_contacts_yes"
                                                           name="wears_eyeglasses_or_contacts" value="yes"/> Yes
                                                </div>
                                                <div class="radio">
                                                    <input type="radio" id="wears_eyeglasses_or_contacts_no"
                                                           name="wears_eyeglasses_or_contacts" value="no"/> No
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-box">
                                        <div class="inline-fields">
                                            <label>Any eye or vision problems?</label>
                                            <div class="inline-radio">
                                                <div class="radio">
                                                    <input type="radio" id="eye_vision_problem_yes"
                                                           name="eye_vision_problem" value="yes"/> Yes
                                                </div>
                                                <div class="radio">
                                                    <input type="radio" id="eye_vision_problem_no"
                                                           name="eye_vision_problem" value="no"/> No
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-box">
                                        <label for="eye_vision_description">Eye or Vision Problem Description</label>
                                        <textarea class="input-field" id="eye_vision_description"
                                                  name="eye_vision_description"
                                                  placeholder="Please give details"></textarea>
                                    </div>

                                    <div class="inline-fields">
                                        <label>Any hearing problems?</label>
                                        <div class="inline-radio">
                                            <div class="radio">
                                                <input type="radio" id="hearing_problems_yes"
                                                       name="hearing_problems" value="yes"/> Yes
                                            </div>
                                            <div class="radio">
                                                <input type="radio" id="hearing_problems_no"
                                                       name="hearing_problems" value="no"/> No
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-box">
                                        <label for="hearing_description">Hearing Problem Description</label>
                                        <textarea class="input-field" id="hearing_description"
                                                  name="hearing_description"
                                                  placeholder="Please give details"></textarea>
                                    </div>

                                    <div class="input-box">
                                        <div class="inline-fields">
                                            <label>(For parents) With your permission, the School Nurse may give the
                                                medication contacting you first:</label><br>
                                        </div>
                                    </div>

                                    <div class="input-box">
                                        <div class="radio">
                                            <input type="radio" id="permission_yes"
                                                   name="permission" value="yes"/>
                                        </div>
                                        <label for="exception">Yes, with exception/s:</label>
                                        <textarea class="input-field" id="exception"
                                                  name="exception"
                                                  placeholder="Please give details"></textarea>
                                    </div>

                                    <div class="input-box">
                                        <div class="inline-fields">
                                            <div class="radio">
                                                <input type="radio" id="permission_no"
                                                       name="permission" value="no"/> No, I will be the one to
                                                provide the school with the necessary medication to be given to the
                                                student as needed.
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="inline-fields">
                                        <label for="signature">Upload E-Signature (Upload parent's signature for
                                            students.)</label>
                                        <input type="file" class="input-field" id="signature" name="signature"
                                               accept="image/*"/>
                                    </div>

                                    <div class="radio">
                                        <br><br><br><br><br><br>
                                        <input type="radio" id="verification_yes" name="verification" value="yes"
                                               required/>
                                        <label for="verification">I verify that all information provided in this
                                            form is
                                            complete and correct.</label>
                                    </div>

                                </fieldset>

                                <div class="input-submit">
                                    <button class="submit-btn" type="submit"><label>Add Medical Record</label></button>
                                </div>
                                {{ form.errors }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const userNameInput = document.getElementById('user_name')
            const userIdInput = document.getElementById('user')
            const dataList = document.getElementById('user-options')

            userNameInput.addEventListener('input', function () {
                const value = userNameInput.value
                let userId = ''

                // Loop through the datalist options to find a match
                for (let option of dataList.options) {
                    if (option.value === value) {
                        userId = option.getAttribute('data-userid')
                        break
                    }
                }

                // Set the hidden input value to the user ID or reset if no match
                userIdInput.value = userId || ''
            })
        })
    </script>
{% endblock %}