{% extends 'app/base.html' %}

{% block title %}
  Clinic Visit
{% endblock %}

{% block content %}
  <div class="dash-content">
    <div class="overview">
      <div class="title">
        <a href="{% url 'clinicvisits' %}"><span class="text">Clinic Visit</span></a><i class="uil uil-angle-right-b"></i>
        <span class="text">Add a CLinic Visit</span>
      </div>
      <div class="table_box">
        <div class="table_container">

        </div>
      </div>
    </div>
  </div>
{% endblock %}
