{% extends 'app/base.html' %}

{% block title %}
    School Clinic
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <span class="text">Dashboard</span>
                </div>
                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-clinic-medical"></i>
                        <span class="text">Clinic Visits Today: {{ current_date }}</span>
                        <span class="number">{{ visit_count }}</span>
                    </div>
                    <div class="box box2">
                        <i class="uis uil-capsule"></i>
                        <span class="text">Near-expiry Medicines</span>
                        <span class="number">{{ near_expiration_count }}</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-users-alt"></i>
                        <span class="text">Active Accounts</span>
                        <span class="number">{{ total_users }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% elif user.is_staff %}
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <a href="{% url 'dashboard' %}"><span class="text">Dashboard</span></a><i
                        class="uil uil-angle-right-b"></i>
                    <span class="text">{{ user.first_name }} {{ user.last_name }}</span>
                </div>
                <div class="table_box">
                    <div class="table_container">
                        <div class="create_body">
                            <div class="create">
                                <div class="title medical_record">
                                    <span class="form-title">Welcome to the Website of St. Jude College Dasmariñas Cavite Inc. School Clinic!</span>
                                    <div class="medication">
                                        <h3 style="color:#707070;">MEDICATION</h3>
                                        <h4>For All Ages:</h4>
                                        <ul class="mul">
                                            <li>Lozenges (Dequadin) for sore throat</li>
                                            <li>Liniment (Manzanilla, White Flower, Efficasent) for tummy ache and body
                                                pain.
                                            </li>
                                            <li>Lotion (Caladryl, Calmoseptine) for insect bites.</li>
                                        </ul>
                                        <h4>For Grade 6 and Above:</h4>
                                        <ul class="mul">
                                            <li>Paracetamol (Biogesic) for headache, fever.</li>
                                            <li>Buscopan for menstrual cramps.</li>
                                            <li>Mefenamic Acid for body pain/tooth pain.</li>
                                            <li>Antihistamine for allergy.</li>
                                        </ul>
                                        <h4>Student's Medication:</h4>
                                        <span>If the student has medication to be given continuously at school (e.g. antibiotics, maintenance medication, etc.) or has medication to be taken as needed or in emergencies (e.g. antihistamines, pain medication, etc.) a prescription or letter from the doctor must be given to the School Nurse together with te medication in its original container.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <span class="text">Dashboard</span>
                </div>
                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-clinic-medical"></i>
                        <span class="text">Clinic Visits Today: {{ current_date }}</span>
                        <span class="number">{{ visit_count }}</span>
                    </div>
                    <div class="box box2">
                        <i class="uis uil-capsule"></i>
                        <span class="text">Near-expiry Medicines</span>
                        <span class="number">{{ near_expiration_count }}</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-users-alt"></i>
                        <span class="text">Active Accounts</span>
                        <span class="number">{{ total_users }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}