{% extends 'app/base.html' %}
{% load static %}

{% block title %}
  Inventory
{% endblock %}

{% block content %}
  <div class="dash-content">
    <div class="overview">
      <div class="title">
        <a href="{% url 'inventory' %}"><span class="text">Inventory</span></a><i class="uil uil-angle-right-b"></i>
        <span class="text">Add an Item</span>
      </div>
      <div class="table_box">
        <div class="back">
          <a href="{% url 'inventory' %}">Back <i class="uil uil-angle-right-b"></i></a>
        </div>
        <div class="table_container">
          <div class="create_body">
            <div class="create">
              <div class="title">
                <span class="form-title">Add an Item</span>
              </div>
              <form method="POST">
                {% csrf_token %}
                <div class="input-box">
                  <label for="inventory_type">Inventory Type</label>
                  <select id="inventory_type" name="inventory_type" required>
                    <option value="" disabled selected>Select inventory type</option>
                    <option value="consumable_medicine">Consumable Medicine</option>
                    <option value="medical_supply">Medical Supply</option>
                    <option value="medical_instrument">Medical Instrument</option>
                  </select>
                </div>
                <div class="input-box">
                  <label for="description">Description</label>
                  <input type="text" class="input-field" id="description" name="description" placeholder="Description" required />
                </div>
                <div class="input-box">
                  <label for="quantity">Quantity</label>
                  <input type="number" class="input-field" id="quantity" name="quantity" placeholder="Quantity" required />
                </div>
                <div class="input-box">
                  <label for="unit">Unit</label>
                  <input type="text" class="input-field" id="unit" name="unit" placeholder="Unit" required />
                </div>
                <div class="input-box">
                  <label for="arrival_date">Date</label>
                  <input type="date" class="input-field" value="{{ form.arrival_date.value|date:'Y-m-d' }}" id="arrival_date" name="arrival_date" placeholder="Date" required />
                </div>
                <div class="input-box">
                  <label for="expiration_date">Expiration Date</label>
                  <input type="date" class="input-field" id="expiration_date" name="expiration_date" placeholder="Expiration Date" />
                </div>
                <div class="input-box">
                  <label for="remarks">Remarks</label>
                  <input type="text" class="input-field" id="remarks" name="remarks" placeholder="Remarks" />
                </div>
                <div class="input-submit">
                  <button class="submit-btn" type="submit"><label>Add Item</label></button>
                </div>
                {{ form.errors }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
